<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>SportsGo</string>
	<key>CFBundleIdentifier</key>
	<string>com.xpinn.sportsgo</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x</string>
		<string>Icon-60@3x</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Default</string>
		<string>Default@2x</string>
		<string>Default-568h@2x</string>
		<string>Default-Portrait</string>
		<string>Default-Portrait@2x</string>
		<string>Icon-Small-40</string>
		<string>Icon-Small-40@2x</string>
		<string>Icon-Small-40@3x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small@3x</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>pt</string>
		<string>es</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone.</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleShortVersion</key>
	<string>2</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>6.9</string>
	<key>CFBundleVersion</key>
	<string>49</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
</dict>
</plist>
