<div class="col-md-12">
    <div class="col-md-3 form-group label-floating is-focused">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="zmdi zmdi-account mr-1 color-danger"></i>
            </span>
            <label class="control-label" for="ms-formGroup-contactname" translate="LBL_CONTACT_NAME"></label>
            <input type="text" id="ms-formGroup-contactname" class="form-control" ng-model="infoUser.user.GrupoDeLaPersona.NombreContacto" />
        </div>
    </div>
</div>