@media screen and (min-width: 320px) {
    #carousel-filters{
       display:block;
    }
    .filters{
       display:none;
    }
}


@media (min-width: 768px) {
    #carousel-filters{
       display:none;
    }
    .filters{
       display:block;
    }
}

@media (min-width: 992px) {
    #carousel-filters{
       display:none;
    }
    .filters{
       display:block;
    }
}

.slider {
    background-color: white;
}

.slider .owl-item {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.thumbs {
    width: 60%;
    border-left: 2px solid #03a9f4;
}

.thumb {
    width: 50px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    border: 2px solid #03a9f4;
    border-left: 0;
    cursor: pointer;
    background-color: #e0dcdc;
}

.thumb img {
    width: 100%;
    height: auto;
    display: block;
}

.thumb.active {
    background-color: #03a9f4;
}