@{
    Layout = "~/Views/Shared/Administration_Layout.cshtml";
}

<div ng-controller="metricaUserController">

    <!-- Counters -->
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="panel panel panel-primary panel-dark text-center">
            <div class="panel-body" style="background-color:#028ac7">
                <h2 class="" style="margin:0">{{metricas.registeredUsers}}</h2>
                <i class="fa fa-4x fa-user-circle"></i>
                <p class="mt-2 no-mb lead small-caps text-lowercase" translate="LBL_USERS"></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="panel panel panel-primary panel-dark text-center">
            <div class="panel-body" style="background-color:#028ac7">
                <h2 class="" style="margin:0">{{metricas.registeredUsersLastMonth}}</h2>
                <i class="fa fa-4x fa-users"></i>
                <p class="mt-2 no-mb lead small-caps" translate="LBL_USERS_LAST_MONTH"></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="panel panel panel-primary panel-dark text-center">
            <div class="panel-body" style="background-color:#028ac7">
                <h2 class="" style="margin:0">{{metricas.plansLastMonth | currency:undefined:0}}</h2>
                <i class="fa fa-4x fa-line-chart"></i>
                <p class="mt-2 no-mb lead small-caps" translate="LBL_SALES_LAST_MONTH"></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="panel panel panel-primary panel-dark text-center">
            <div class="panel-body" style="background-color:#028ac7">
                <h2 class="counter" style="margin:0">{{metricas.movileDownloads}}</h2>
                <i class="fa fa-4x fa-mobile-phone"></i>
                <p class="mt-2 no-mb lead small-caps" translate="LBL_MOBILE_DOWNLOADS"></p>
            </div>
        </div>
    </div>
    
    <!-- Filters -->
    <div class="col-md-4 text-left">
        <div class="form-group" style="margin:0">
            <div class="col-md-12 text-right">
                <a href="javascript:void(0)" ng-click="metricas.get()" class="btn-circle btn-circle-raised btn-circle-primary" title="Actualizar gráfica">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label for="select111" class="col-md-5 control-label" translate="LBL_SPORTS" style="margin-bottom:5px;"></label>
            <div class="col-md-12">
                <oi-select oi-options="item.Consecutivo as item.DescripcionIdiomaBuscado for item in lists.categories track by item.Consecutivo"
                           ng-model="metricas.filtro.CategoriasParaBuscar"
                           multiple
                           placeholder="{{'PLACEHOLDER_DROPDOWNLIST' | translate}}">
                </oi-select>
            </div>
        </div>
        <div class="form-group">
            <label for="select111" class="col-md-5 control-label" translate="LBL_COUNTRIES" style="margin-bottom:5px;"></label>
            <div class="col-md-12">
                <oi-select oi-options="item.Consecutivo as item.DescripcionIdiomaBuscado for item in lists.countries track by item.Consecutivo"
                           ng-model="metricas.filtro.PaisesParaBuscar"
                           multiple
                           placeholder="{{'PLACEHOLDER_DROPDOWNLIST' | translate}}">
                </oi-select>
            </div>
        </div>
        <div class="form-group">
            <label for="select111" class="col-md-5 control-label" translate="LBL_PLANS" style="margin-bottom:5px;"></label>
            <div class="col-md-12">
                <oi-select oi-options="item.Consecutivo as item.DescripcionIdiomaBuscado for item in lists.plans track by item.Consecutivo"
                           ng-model="metricas.filtro.PlanesParaBuscar"
                           multiple
                           placeholder="{{'PLACEHOLDER_DROPDOWNLIST' | translate}}">
                </oi-select>
            </div>
        </div>
        <div class="form-group">
            <label for="select111" class="col-md-5 control-label" translate="LBL_LANGUAGE" style="margin-bottom:5px;"></label>
            <div class="col-md-12">
                <oi-select oi-options="item.Consecutivo as item.DescripcionIdiomaBuscado for item in lists.languages track by item.Consecutivo"
                           ng-model="metricas.filtro.IdiomasParaBuscar"
                           multiple
                           placeholder="{{'PLACEHOLDER_DROPDOWNLIST' | translate}}">
                </oi-select>
            </div>
        </div>
    </div>
    <!-- Graphic -->
    <div class="col-md-5 col-sm-12 col-xm-12 text-center" style="margin-top:5%">
        <div id="chart" class="noselect">
        </div>
    </div>
    
    <!-- Legend -->
    <div class="col-md-3" id="legendChart" style="margin-top: 50px;">
        <div id="chartjs-legend" class="noselect"></div>
    </div>

</div>

@section ANGULARJS{ 
<script src="~/Scripts/app/lib/Chart.js"></script>
<script src="~/Scripts/app/Administration/metricaUserController.js"></script>
}